<a href="https://colab.research.google.com/github/cva-sk23/Data-Science/blob/main/ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
LFC = {
    'Name': ["Alisson", "Virgil van Dijk", "Luis Díaz", "Mohamed Salah","Joe Gomez", "Ibrahima Konaté", "Andy Robertson","Dominik Szoboszlai",
    "Alexis Mac Allister", "Curtis Jones", "Darwin Núñez", "Diogo Jota","Wataru Endo", "Cody Gakpo", "Harvey Elliott" ],
    'squad_num': [1, 4, 7, 11,2, 5, 26, 8,10, 17, 9, 20, 3, 18, 19 ],
    'position': ( "Goalkeeper", "Defender", "Forward", "Winger","Defender", "Defender", "Defender", "Midfielder",
    "Midfielder", "Midfielder", "Forward", "Forward","Midfielder", "Forward", "Midfielder" ),
    'Nationality': ["Brazil", "Netherlands", "Colombia", "Egypt","England", "France", "Scotland", "Hungary",
    "Argentina", "England", "Uruguay", "Portugal","Japan", "Netherlands", "England"]}

In [ ]:
LFC

In [ ]:
Guvi_Emp={
    "EmpID":[1089,1198,1123,1145,1136,1190],
    "Name":['Kishore','Ganesh','Magesh','manoj','praneesh','Anand'],
    'desingnation':['Developer','Tester','Developer','Developer','Developer','Tester'],
    'salary': [25000,30000,15000,18000,19000,35000],

}

In [ ]:
LFC = {
    'squad_num': [1, 4, 7, 11,2, 5, 26, 8,10, 17, 9, 20, 3, 18, 19 ],
    'Name': ["Alisson", "Virgil van Dijk", "Luis Díaz", "Mohamed Salah","Joe Gomez", "Ibrahima Konaté", "Andy Robertson","Dominik Szoboszlai",
    "Alexis Mac Allister", "Curtis Jones", "Darwin Núñez", "Diogo Jota","Wataru Endo", "Cody Gakpo", "Harvey Elliott" ],
    'position': ["Goalkeeper", "Defender", "Forward", "Winger","Defender", "Defender", "Defender", "Midfielder",
    "Midfielder", "Midfielder", "Forward", "Forward","Midfielder", "Forward", "Midfielder" ],
    'Nationality': ["Brazil", "Netherlands", "Colombia", "Egypt","England", "France", "Scotland", "Hungary",
    "Argentina", "England", "Uruguay", "Portugal","Japan", "Netherlands", "England"]}

In [ ]:
PlayersquadID=int(input("Enter Squad number: "))
Pos=LFC['squad_num'].index(PlayersquadID) # Find the position of the player in the list using their squad number
Pos

print(f"Player jersey Number ------->: {PlayersquadID}")
print(f"Name : {LFC['Name'][Pos]}")
print(f"Nationality:{LFC['Nationality'][Pos]}")
print(f"position: {LFC['position'][Pos]}")

In [ ]:
# Condition Statement

In [ ]:
Age=int(input("Enter Age:"))
if Age>18 and Age<35:
    print("allow")
else:
  print ("veliya poda")

In [ ]:
Mark=int(input("Enter Your score : "))
if Mark >=35:print("passed")
else: print("better luck nxt time")

In [ ]:
# 100 - 90 doctor,89- 70 engineer,69 - 40 diploma 39-0 fail

In [ ]:
Name=input("Enter Your Name : ")
Mark=int(input("Enter Your score : "))
if Mark>=90 :
  print(f"{Name} Your Mark is {Mark} and You are eligible for doctor")

elif Mark>=70 and Mark<90:
  print(f"{Name} Your Mark is {Mark} and You are eligible for engineer")

elif Mark>=40 and Mark<70:
  print(f"{Name} Your Mark is {Mark} and You are eligible for diploma")

else:
  print(f"{Name} Your Mark is {Mark} and You are fail")

In [ ]:
## 100 - 90 doctor With NEET score >90 for eligible

Name=input("Enter Your Name : ")
Mark=int(input("Enter Your score : "))
if Mark>=90 and Mark<100:
  NEET=int(input("Enter Your NEET score : "))
  if NEET>90:
     print(f"{Name} Your Mark is {Mark} and You are eligible for doctor")
  else :
    print(f"{Name} Your Neet score is {NEET} And sorry your are Not eligible for doctor")

elif Mark>=70 and Mark<90:
  print(f"{Name} Your Mark is {Mark} and You are eligible for engineer")

elif Mark>=40 and Mark<70:
  print(f"{Name} Your Mark is {Mark} and You are eligible for diploma")

else:
  print(f"{Name} Your Mark is {Mark} and You are fail")

In [ ]:
Name=input("Enter Your Name : ")
Mark=int(input("Enter Your score : "))
NEET=int(input("Enter Your NEET score : "))
if Mark>=90 and NEET>=90 and "a" in Name:
  print(f"{Name} Your Mark is {Mark} and  {NEET} percent scored in your neet entance and congrats You are eligible for doctor")
else:
  print(f"{Name} Sorry You are not eligible for doctor")

# Loops

## loop

1. For loop
2. While Loop

In [ ]:
#for loop start with FOR

Name = ["dhoni","bravo","morkel","hussey"]
for i in Name:
 print(i)

In [ ]:
Name = ["dhoni","bravo","morkel","hussey"]
for i in Name:
 print(Name)

In [ ]:
A=888
A%2

In [ ]:
print(A/2)
print(A//2)
print(A%2)

In [ ]:
Num=[10,13,15,14,16,17,18,19,20]
if A%2==0 :
  print('even')
else:
  print("odd")

In [ ]:
A=[10,13,15,14,16,17,18,19,20]

for n in A:

 if n%2 ==0:
  print(f'{n} is even')
else:
  print(f"{n} is odd")

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68]
for n in Nums:
  if n%2==0:
    print(f"{n} is even")
  else:
     print(f"{n} is odd")

In [15]:
Nums=[10,20,39,67,78,44,25,22,68]
for n in Nums:
  if n%3==0:
    print(f"{n} is even")
  else:
     print(f"{n} is odd")

10 is odd
20 is odd
39 is even
67 is odd
78 is even
44 is odd
25 is odd
22 is odd
68 is odd

In [16]:
len(Nums)

9

In [17]:
nums = [27, 84, 56, 91, 73, 65, 48, 59, 33, 76, 88, 42, 95, 69, 53, 61, 87, 79, 68, 99,0]
div_by_3 = []
div_by_5 = []
div_by_7 = []
for num in nums:
    if num % 3 == 0:
        div_by_3.append(num)
    if num % 5 == 0:
        div_by_5.append(num)
    if num % 7 == 0:
        div_by_7.append(num)

print( div_by_3)
print( div_by_5)
print (div_by_7)

[27, 84, 48, 33, 42, 69, 87, 99, 0]
[65, 95, 0]
[84, 56, 91, 42, 0]

In [ ]:
A=[]
A.append("siva")
A.append("kumar")

In [ ]:
B=[]
B.append("Ms")
B.append("Dhoni")
B.append("#IND")

In [ ]:
print(" ".join(B))

In [ ]:
#print from 1 to 10
#print from 1 to 10

for i in range(1,11):
  print(i)

In [ ]:
for n in range(2,21,2):
    print(n)

In [ ]:
for w in range(100,0,-10):   #reverse loop
  print(w,end=" ")

In [7]:
w=int(input("Enter Number"))
for w in range(100,w,-2):
  print(w)

Enter Number50
100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52

In [8]:
csk=['jadeja','dhoni','sehwag','sachin','dhoni','virat','dhoni']
for i in csk:
  if i=="dhoni":
    print(csk.index(i))

1
1
1

In [9]:
csk=['jadeja','dhoni','sehwag','sachin','dhoni','virat','dhoni']
for i in range(len(csk)):
  print(i,csk[i])

0 jadeja
1 dhoni
2 sehwag
3 sachin
4 dhoni
5 virat
6 dhoni

In [10]:
csk=['jadeja','dhoni','sehwag','sachin','dhoni','virat','dhoni']
for i in range(len(csk)):
  if csk[i]=="dhoni":
    print(i,csk[i])

1 dhoni
4 dhoni
6 dhoni

In [12]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [18]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [26]:
csk=['jadeja','dhoni','sehwag','sachin','dhoni','virat','dhoni']
for i,player in enumerate(csk):
  if player == "dhoni":
   print(f'index:{i},player:{player}')

index:1,player:dhoni
index:4,player:dhoni
index:6,player:dhoni

## class 5 doubt @1.10