<a href="https://colab.research.google.com/github/cva-sk23/Data-Science/blob/main/ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
LFC = {
    'Name': ["Alisson", "Virgil van Dijk", "Luis Díaz", "Mohamed Salah","Joe Gomez", "Ibrahima Konaté", "Andy Robertson","Dominik Szoboszlai",
    "Alexis Mac Allister", "Curtis Jones", "Darwin Núñez", "Diogo Jota","Wataru Endo", "Cody Gakpo", "Harvey Elliott" ],
    'squad_num': [1, 4, 7, 11,2, 5, 26, 8,10, 17, 9, 20, 3, 18, 19 ],
    'position': ( "Goalkeeper", "Defender", "Forward", "Winger","Defender", "Defender", "Defender", "Midfielder",
    "Midfielder", "Midfielder", "Forward", "Forward","Midfielder", "Forward", "Midfielder" ),
    'Nationality': ["Brazil", "Netherlands", "Colombia", "Egypt","England", "France", "Scotland", "Hungary",
    "Argentina", "England", "Uruguay", "Portugal","Japan", "Netherlands", "England"]}

In [ ]:
LFC

{'Name': ['Alisson',
  'Virgil van Dijk',
  'Luis Díaz',
  'Mohamed Salah',
  'Joe Gomez',
  'Ibrahima Konaté',
  'Andy Robertson',
  'Dominik Szoboszlai',
  'Alexis Mac Allister',
  'Curtis Jones',
  'Darwin Núñez',
  'Diogo Jota',
  'Wataru Endo',
  'Cody Gakpo',
  'Harvey Elliott'],
 'squad_num': [1, 4, 7, 11, 2, 5, 26, 8, 10, 17, 9, 20, 3, 18, 19],
 'position': ('Goalkeeper',
  'Defender',
  'Forward',
  'Winger',
  'Defender',
  'Defender',
  'Defender',
  'Midfielder',
  'Midfielder',
  'Midfielder',
  'Forward',
  'Forward',
  'Midfielder',
  'Forward',
  'Midfielder'),
 'Nationality': ['Brazil',
  'Netherlands',
  'Colombia',
  'Egypt',
  'England',
  'France',
  'Scotland',
  'Hungary',
  'Argentina',
  'England',
  'Uruguay',
  'Portugal',
  'Japan',
  'Netherlands',
  'England']}

In [ ]:
Guvi_Emp={
    "EmpID":[1089,1198,1123,1145,1136,1190],
    "Name":['Kishore','Ganesh','Magesh','manoj','praneesh','Anand'],
    'desingnation':['Developer','Tester','Developer','Developer','Developer','Tester'],
    'salary': [25000,30000,15000,18000,19000,35000],

}

In [ ]:
LFC = {
    'squad_num': [1, 4, 7, 11,2, 5, 26, 8,10, 17, 9, 20, 3, 18, 19 ],
    'Name': ["Alisson", "Virgil van Dijk", "Luis Díaz", "Mohamed Salah","Joe Gomez", "Ibrahima Konaté", "Andy Robertson","Dominik Szoboszlai",
    "Alexis Mac Allister", "Curtis Jones", "Darwin Núñez", "Diogo Jota","Wataru Endo", "Cody Gakpo", "Harvey Elliott" ],
    'position': ["Goalkeeper", "Defender", "Forward", "Winger","Defender", "Defender", "Defender", "Midfielder",
    "Midfielder", "Midfielder", "Forward", "Forward","Midfielder", "Forward", "Midfielder" ],
    'Nationality': ["Brazil", "Netherlands", "Colombia", "Egypt","England", "France", "Scotland", "Hungary",
    "Argentina", "England", "Uruguay", "Portugal","Japan", "Netherlands", "England"]}

In [ ]:
PlayersquadID=int(input("Enter Squad number: "))
Pos=LFC['squad_num'].index(PlayersquadID) # Find the position of the player in the list using their squad number
Pos

print(f"Player jersey Number ------->: {PlayersquadID}")
print(f"Name : {LFC['Name'][Pos]}")
print(f"Nationality:{LFC['Nationality'][Pos]}")
print(f"position: {LFC['position'][Pos]}")

Enter Squad number: 8
Player jersey Number ------->: 8
Name : Dominik Szoboszlai
Nationality:Hungary
position: Midfielder

In [ ]:
# Condition Statement

In [ ]:
Age=int(input("Enter Age:"))
if Age>18 and Age<35:
    print("allow")
else:
  print ("veliya poda")

Enter Age:36
veliya poda

In [ ]:
Mark=int(input("Enter Your score : "))
if Mark >=35:print("passed")
else: print("better luck nxt time")

Enter Your score : 18
better luck nxt time

In [ ]:
# 100 - 90 doctor,89- 70 engineer,69 - 40 diploma 39-0 fail

In [ ]:
Name=input("Enter Your Name : ")
Mark=int(input("Enter Your score : "))
if Mark>=90 :
  print(f"{Name} Your Mark is {Mark} and You are eligible for doctor")

elif Mark>=70 and Mark<90:
  print(f"{Name} Your Mark is {Mark} and You are eligible for engineer")

elif Mark>=40 and Mark<70:
  print(f"{Name} Your Mark is {Mark} and You are eligible for diploma")

else:
  print(f"{Name} Your Mark is {Mark} and You are fail")

Enter Your Name : siva
Enter Your score : 89
siva Your Mark is 89 and You are eligible for engineer

In [ ]:
## 100 - 90 doctor With NEET score >90 for eligible

Name=input("Enter Your Name : ")
Mark=int(input("Enter Your score : "))
if Mark>=90 and Mark<100:
  NEET=int(input("Enter Your NEET score : "))
  if NEET>90:
     print(f"{Name} Your Mark is {Mark} and You are eligible for doctor")
  else :
    print(f"{Name} Your Neet score is {NEET} And sorry your are Not eligible for doctor")

elif Mark>=70 and Mark<90:
  print(f"{Name} Your Mark is {Mark} and You are eligible for engineer")

elif Mark>=40 and Mark<70:
  print(f"{Name} Your Mark is {Mark} and You are eligible for diploma")

else:
  print(f"{Name} Your Mark is {Mark} and You are fail")

Enter Your Name : siba
Enter Your score : 41
siba Your Mark is 41 and You are eligible for diploma

In [ ]:
Name=input("Enter Your Name : ")
Mark=int(input("Enter Your score : "))
NEET=int(input("Enter Your NEET score : "))
if Mark>=90 and NEET>=90 and "a" in Name:
  print(f"{Name} Your Mark is {Mark} and  {NEET} percent scored in your neet entance and congrats You are eligible for doctor")
else:
  print(f"{Name} Sorry You are not eligible for doctor")

Enter Your Name : moorthy
Enter Your score : 99
Enter Your NEET score : 99
moorthy Sorry You are not eligible for doctor

# Loops

## loop

1. For loop
2. While Loop

In [ ]:
#for loop start with FOR

Name = ["dhoni","bravo","morkel","hussey"]
for i in Name:
 print(i)

dhoni
bravo
morkel
hussey

In [ ]:
Name = ["dhoni","bravo","morkel","hussey"]
for i in Name:
 print(Name)

['dhoni', 'bravo', 'morkel', 'hussey']
['dhoni', 'bravo', 'morkel', 'hussey']
['dhoni', 'bravo', 'morkel', 'hussey']
['dhoni', 'bravo', 'morkel', 'hussey']

In [ ]:
A=888
A%2

0

In [ ]:
print(A/2)
print(A//2)
print(A%2)

444.0
444
0

In [ ]:
Num=[10,13,15,14,16,17,18,19,20]
if A%2==0 :
  print('even')
else:
  print("odd")

even

In [ ]:
A=[10,13,15,14,16,17,18,19,20]

for n in A:

 if n%2 ==0:
  print(f'{n} is even')
else:
  print(f"{n} is odd")

10 is even
14 is even
16 is even
18 is even
20 is even
20 is odd

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68]
for n in Nums:
  if n%2==0:
    print(f"{n} is even")
  else:
     print(f"{n} is odd")

10 is even
20 is even
39 is odd
67 is odd
78 is even
44 is even
25 is odd
22 is even
68 is even

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68]
for n in Nums:
  if n%3==0:
    print(f"{n} is even")
  else:
     print(f"{n} is odd")

10 is odd
20 is odd
39 is even
67 is odd
78 is even
44 is odd
25 is odd
22 is odd
68 is odd

In [ ]:
nums = [27, 84, 56, 91, 73, 65, 48, 59, 33, 76, 88, 42, 95, 69, 53, 61, 87, 79, 68, 99,0]
div_by_3 = []
div_by_5 = []
div_by_7 = []
for num in nums:
    if num % 3 == 0:
        div_by_3.append(num)
    if num % 5 == 0:
        div_by_5.append(num)
    if num % 7 == 0:
        div_by_7.append(num)

print( div_by_3)
print( div_by_5)
print (div_by_7)

[27, 84, 48, 33, 42, 69, 87, 99, 0]
[65, 95, 0]
[84, 56, 91, 42, 0]

In [ ]:
A=[]
A.append("siva")
A.append("kumar")

In [ ]:
A

['siva', 'kumar']